---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const { title, description, info } = entry?.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      /<!--class="text-center font-normal -->
      <h1 style="text-align: center;"> Contáctanos </h1>
      <div class="section row pb-0">
        <div class="col-12 md:col-6 lg:col-7">
          <form class="contact-form" method="POST" action={contact_form_action}>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="name"
                type="text"
                placeholder="Nombre / Name"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="email"
                type="email"
                placeholder="Tu correo electronico / Your email"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="subject"
                type="text"
                placeholder="Asunto / Subject"
                required
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-textarea w-full rounded h-40"  
                name="message"  
                rows="5"  
                placeholder="Tu pregunta o mensaje / Your question or message"
                required
              ></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary"> Envíar </button>
          </form>
        </div>
        <div class="content col-12 md:col-6 lg:col-5">
          <h4 style="text-align: center;">¿Por qué deberías de contactarnos?</h4>
          <p style="text-align: justify;">En Diversitas, creemos que la diversidad es la esencia de la riqueza cultural y social de nuestro mundo. Al contactarnos, podrás:</p>
          <ul class="contact-list mt-5 list-none pl-0" style="text-align: justify;">
            <li>
              <strong class="text-dark">Ampliar tus horizontes:</strong> Descubre nuevas culturas, idiomas y perspectivas que te enriquecerán personalmente y profesionalmente.
          </li>
          <li>
          <li>
              <strong class="text-dark">Participar en experiencias únicas:</strong> Únete a nuestros programas de aprendizaje y viajes diseñados para sumergirte en la diversidad cultural de diferentes regiones del mundo.
          </li>
          </ul>
          <h4 style="text-align: center;">Formas de contactarnos</h4>
          <ul class="contact-list mt-5 list-none pl-0" style="text-align: justify;">
            <li>
              <strong class="text-dark">Responsable de Información General:</strong> Paulo Balderas S.
            </li>
            <li>
              <strong class="text-dark">Cordinadora General de Diversitas:</strong> Patricia Balderas R.
            </li>
            <li>
              <strong class="text-dark">Telefono/WhatsApp:</strong> (+52) 222 410 3601
            </li>
            <li>
            <strong class="text-dark">Correo:</strong> diversitas2024@gmail.com
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Base>
