---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("homepage", "index");
const { banner, feature, services, workflow, call_to_action } = homepage.data;
---

<Base title="Curso Italiano">
  <!-- Título inicial -->
  <section class="section">
    <div class="container">
      <h1 style="text-align: center; margin-top: 25px; margin-bottom: 10px;">Curso Online de Francés A1</h1>
    </div>
  </section>

  <section class="section" style="background-color: #FFFFFF; padding-top: 20px;">
    <div class="container">
      <!-- Primera sección de contenido (imagen a la derecha y texto a la izquierda) -->
      <div class="items-center gap-8 md:grid md:grid-cols-2">
        <!-- Contenido de texto a la izquierda -->
        <div class="content">
          <h2>Principiante o inicial</h2>
          <p style="text-align: justify; font-size: 1.5em; font-style: italic;">
            <ul style="font-size: 1.3em;">
              <li>Inicio: 12 de Noviembre de 2024</li>
              <li>Fin: 3 de Abril de 2025</li>
              <li>Profesor nativo, calificado y con reconocida experiencia.</li>
            </ul>
          </p>
        </div>
        <!-- Imagen a la derecha -->
        <div class="image" style="margin-top: 10px;">
          <img 
            src="/images/fr1.png" 
            alt="Imagen Curso Frances Online" 
            style="box-shadow: 0 6px 12px rgba(0, 0, 0, 0.92); width: 500px; height: 300px;"
            class="rounded-lg">
        </div>
      </div>

      <!-- Segunda sección (¿Qué es nivel A1?) que va a la derecha -->
      <div class="items-center gap-8 md:grid md:grid-cols-2" style="margin-top: 60px; padding-top: 40px; border-top: 2px solid #ccc;">
        <!-- Imagen a la izquierda -->
        <div class="image" style="margin-top: 10px;">
          <img 
            src="/images/cursofra.png" 
            alt="Imagen Contacto Curso Francés Online" 
            style="box-shadow: 0 6px 12px rgba(0, 0, 0, 0.92); width: 500px; height: 400px;" 
            class="rounded-lg">
        </div>

        <!-- Contenido de texto a la derecha -->
        <div class="content">
          <h2>¿Qué es nivel A1?</h2>
          <br>
          <p style="text-align: justify; font-size: 1.2em;">
            <b><i><span style="color: #0AA8A7;">
              La nomenclatura A1, correspondiente al Marco Común Europeo de Referencia, para el aprendizaje de lenguas (MCER)
            </span></i></b>
          </p>
          </p>
          <p style="text-align: justify; font-size: 1.2em;">
            Nuestros cursos están diseñados conforme a sus criterios.
          </p>
          <p style="text-align: justify; font-size: 1.2em;">
            El nivel A1 se describe cualitativamente así: <strong><em>"Es capaz de comprender y utilizar expresiones cotidianas de uso muy frecuente, así como, frases sencillas destinadas a satisfacer necesidades de tipo inmediato. Puede presentarse a sí mismo y a otros, pedir y dar información personal básica sobre su domicilio, sus pertenencias y las personas que conoce. Puede relacionarse de forma elemental siempre que su interlocutor hable despacio y con claridad y esté dispuesto a cooperar."</em></strong>
          </p>         
          <p style="text-align: justify; font-size: 1.2em;">
            En las clases se desarrollan las habilidades de compresión y de producción (hablar, escribir, leer y escuchar).
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
