---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("homepage", "index");
const { banner, feature, services, workflow, call_to_action } = homepage.data;
---

<Base title="Curso Italiano">
      <!-- Título inicial -->
  <section class="section">
    <div class="container">
      <h1 style="text-align: center; margin-top: 25px; margin-bottom: 10px;">Curso de Italiano en Italia</h1>
    </div>
  </section>

    <section class="section" style="background-color: #FFFFFF; padding-top: 20px;">
        <div class="container">
          <div class="items-center gap-8 md:grid md:grid-cols-2">
            <!-- Contenido de texto a la izquierda -->
            <div class="content">
              <h2>Contenido del Curso</h2>
              <p style="text-align: justify; font-size: 1.2em; font-style: italic;">
                <ul>
                  <li style="text-align: justify; font-size: 1.3em;">
                    Estudia en Italia, en una bella ciudad, cercana al mar Adriático, en ambiente cálido e intercultural.
                  </li>
                  <li style="text-align: justify; font-size: 1.3em;">
                    Puedes ingresar desde nivel inicial o realizar examen de ubicación.
                  </li>
                  <li style="text-align: justify; font-size: 1.3em;">
                    Escuela de prestigio y comprobada calidad.
                  </li>
                  <li style="text-align: justify; font-size: 1.3em;">
                    Tiempo mínimo: Curso 4 semanas
                    y hasta un año.
                  </li>
                  <li style="text-align: justify; font-size: 1.3em;">
                    Informes en:  <b><i><span style="color: #0AA8A7;">diversitas2024@gmail.com</span></i></b>
                  </li>
                </ul>
              </p>
            </div>
            <!-- Imagen estática a la derecha -->
            <div class="image" style="margin-top: 10px;">
              <img 
                src="/images/it4.png" 
                alt="Imagen Curso italiano Italia" 
                style="box-shadow: 0 6px 12px rgba(0, 0, 0, 0.92);"
                class="rounded-lg">
            </div>
          </div>
        </div>
      </section>
  </section>
</Base>
